{% extends 'base.html' %}
{% load static %}



{% block content %}



<main class="main">

    <!-- Activities Section -->
    <section id="events" class="events section">
      <div class="container">
        <h2 class="my-4 text-center">Extra Curriculum Activities</h2>
        <div class="row">
          <!-- Static Card 1 -->
          <div class="col-12 d-flex align-items-stretch mb-4">
            <div class="card w-100">
              <div class="card-body">
                <h5 class="card-title"><a href="#">Extra Curriculum Activities</a></h5>
                <p class="card-text">Each week, students have the opportunity to visit the library to explore new books and
                    develop their love for literature. They get a chance to borrow reading books.
                    Learners have an opportunity to participate in private swimming lessons which take place
                    twice weekly at Constantia Park Swimming School. The lessons are designed to help
                    your child be water safe, develop their swimming skills and promote self-reliance in a fun
                    and safe environment.
                    Our foundation phase learners have an opportunity to participate in weekly YSports
                    private lessons which are designed to provide your child with valuable gross-motor skills
                    and enjoyment in a structured environment.</p>
              </div>
            </div>
          </div>
          <!-- Static Card 2 -->
          <div class="col-12 d-flex align-items-stretch mb-4">
            <div class="card w-100">
              <div class="card-body">
                <h5 class="card-title"><a href="#">Yearly Activities</a></h5>
                <ul class="card-text">
                    <li>Sports day;</li>
                    <li>Day outings;</li>
                    <li>School camp;</li>
                    <li>Adventure walk;</li>
                    <li>Concert.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Static Card 3 -->
          
        </div>
      </div>
    </section><!-- /Activities Section -->
  </main>
  






<!-- <div class="container">
    <h2 class="my-4">Strataford Teaching Staff</h2>
    <div class="row"> -->
        <!-- Card 1 -->
        <!-- <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
            <div class="card flex-fill ">
                <img src="{% static 'assets/img/trainers/trainer-2-2.jpg' %}" class="card-img-top" alt="Irene" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Irene</h5>
                    <p class="card-text">Honors degree in Teaching and 15 years of work experience as a primary school Specialist</p>
                </div>
            </div>
        </div> -->
        
        <!-- Card 2 -->
        <!-- <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
            <div class="card flex-fill">
                <img src="{% static 'assets/img/trainers/trainer-1.jpg' %}" class="card-img-top" alt="Masoja" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Masoja</h5>
                    <p class="card-text">Bachelors degree in primary education with 10 years of experience in early childhood development. Taught in several private schools.</p>
                </div>
            </div>
        </div> -->
        
        
        <!-- Card 3 -->
        <!-- <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
            <div class="card flex-fill">
                <img src="{% static 'assets/img/trainers/trainer-1-2.jpg' %}" class="card-img-top" alt="Walter" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Walter</h5>
                    <p class="card-text">Experienced Early Childhood Development Specialist</p>
                </div>
            </div>
        </div>
         -->
        <!-- Add more cards as needed -->
    <!-- </div>
</div> -->



{% endblock content %}